.radio-segmented .btn.active::before {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    content: "\e013";
}
.radio-segmented .btn.btn-left.active::before {
    float: left;
}
.radio-segmented .btn.btn-right.active::before {
    float: right;
}
.glyphicon-question-sign {
    font-size: 24px;
}
